// ========================================================
// Fountainhead Sidebar
// ========================================================

.fh-api-navigation {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  max-width: 375px;
  background-color: $api-nav-bg;

  // Project Logo
  .project-logo-wrapper {
    display: flex;
    margin-bottom: 4px;
    background: $primary;

    justify-content: center;
  }

  .project-logo {
    max-width: 100%;
  }

  // Special Fountainhead Logo!!!
  .project-logo.fountainhead-logo {
    width: 300px;
    margin: 0 10px;
  }

  // Made with message at bottom
  .made-with {
    margin-top: auto;
    padding: 2em;
    background: $primary;
    color: $white;
    text-align: center;
  }

  // Section Header and Anchors
  // ---------------------------------------------------------------------------

  .section-header {
    margin: 0;
    background-color: $primary;
    font-size: 14px;
    font-weight: normal;
    color: $white;
    text-transform: uppercase;
  }

  // sidebar ul li a
  .item-link {
    display: block;
    overflow: hidden;
    padding: 10px 20px 10px 45px;
    border-bottom: 1px solid $ash;
    font-size: 13px;
    text-overflow: ellipsis;

    white-space: nowrap;

    &:hover {
      background-color: $ash;
    }

    &.active {
      font-weight: bold;
      color: $primary;
    }
  }

  // Search Field
  // ---------------------------------------------------------------------------

  .fh-api-search-input {
    padding: 0;

    input[type="text"] {
      padding-left: 15px;
      background-color: transparent;
      border: none;
      border-radius: 0;

      &:focus {
        background-color: darken($ash, 10%);
      }

      &::placeholder {
        font-weight: 200;
      }
    }
  }
}
